<html ng-app="weBTrading">

<head>
    <meta charset="utf-8" />
	<!-- CSS -->
    <link rel="stylesheet" type="text/css" href="stylesheets/Style.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/dropdown-dark.css">
	<!-- JQUERY -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
	<!-- SUPERSLIDE -->
    <script type="text/javascript" src="javascripts/jquery-ui.min.js"></script>
    <script type="text/javascript" src="javascripts/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="javascripts/jquery.animate-enhanced.min.js"></script>
    <script type="text/javascript" src="javascripts/jquery.superslides.js" type="text/javascript" charset="utf-8"></script>
    <!-- AMCHARTS -->
	<script type="text/javascript" src="javascripts/amcharts_3.14.3.free/amcharts/amcharts.js"></script>
    <script type="text/javascript" src="javascripts/amcharts_3.14.3.free/amcharts/serial.js"></script>
    <script type="text/javascript" src="javascripts/amcharts_3.14.3.free/amcharts/pie.js"></script>
    <script type="text/javascript" src="javascripts/amcharts_3.14.3.free/amcharts/themes/chalk.js"></script>
	<!-- INTERNAL -->
    <script src="InitData.js"></script>
    <script src="javascripts/angular.min.js"></script>
    <script src="javascripts/socket.io.js"></script>
    <script src="DirectivePie.js"></script>
    <script src="DirectiveGraph.js"></script>
	<script src="DirectiveHistoricalGraph.js"></script>
    <script src="DirectiveCandlestick.js"></script>
	<script src="DirectiveCol.js"></script>
    <script src="index.js"></script>
	<script src="Controller1.js"></script>
	<script src="Controller2.js"></script>
</head>

<body>
    <div id="fullpageslider">
        <div class="slides-container">
            
			<div class="fpslide active" ng-controller="slide2Ctrl" id="slide2">
				<div id="accountDeshboard" class="accountDeshboard">
                    <div id="ballance" class="ballance">{{AccountData.Ballance | number:0}}</div>
                    <piechart pie-id="pie1" piechartdata="piechartdata" accessor="accessor" radius="44%" innerRadius="60%"></piechart><br>
                    <div id="positions" 
					     class="positions" 
						 ng-repeat="currShare in AccountData.Shares" 
						 ng-if="((currShare.IsPosition) || 
						 (currShare.OffLineIsPosition))" 
						 ng-style="currShare.CurrPL < 0 && 
						 {'color': 'rgb(150, 150, 150)'} || 
						 currShare.CurrPL >= 0 && 
						 {'color': 'rgb(211, 211, 211)'}">{{currShare.Symbol}} : {{currShare.CurrPL | number:2}}</div>
                </div>
                <div id="mainDeshboard" class="mainDeshboard">
                    <colchart col-id="col1" colchartdata="colchartdata" accessor="accessor"></colchart>
                    <div id="coltimeperioddiv" class="coltimeperioddiv">
                        <select name="colTimePeriod" 
								id="colTimePeriod" 
								dir="rtl" 
								class="dropdown dropdown-dark" 
								style="margin-right: 19;" 
								ng-model="periodTimeEnumValue">
                            <option value="1" selected="selected">משחר ההיסטוריה</option>
                            <option value="2">שנה אחרונה</option>
                            <option value="3">שבוע אחרון</option>
                            <option value="4">חודש אחרון</option>
                            <option value="5">אחר</option>
                        </select>

                        <input type="text" 
							   id="startDate"
							   ng-model="startDate" 
							   ng-click="GetHistoricalPositionsDataByTime(startDate,endDate)" 
							   ng-if="periodTimeEnumValue==5" 
							   ng-init="setDatePiker('#startDate')">
                        <input type="text" 
						       id="endDate" 
							   ng-model="endDate" 
							   ng-click="GetHistoricalPositionsDataByTime(startDate,endDate)" 
							   ng-if="periodTimeEnumValue==5" 
							   ng-init="setDatePiker('#endDate')">
                    </div>
					<br><br><br>
                    <graphchart graph-id="graph1" graphchartdata="graphchartdata" accessor="accessor"></graphchart>
                </div>
            </div>
			
            <div class="fpslide" ng-controller="slide1Ctrl"  id="slide1">
				<div id="accountDeshboard" class="accountDeshboard">
					
			   
					<div id="share" class="share">{{ Symbol }}</div>
					<piechart pie-id="pie2" piechartdata="piechartdata" accessor="accessor" radius="44%" innerRadius="60%"></piechart><br>
					<select name="cmbSymbol" 
							id="cmbSymbol" 
							dir="rtl" 
							class="dropdown dropdown-dark" 
							style="margin-right: 19;" 
							ng-model="Symbol"
							ng-change="UpdateShareDashboard()">
						<option id="oSymbol" value="AUD/JPY">AUD/JPY</option>
						<option value="AUD/USD">AUD/USD</option>
						<option value="EUR/AUD">EUR/AUD</option>
						<option value="EUR/CHF">EUR/CHF</option>
						<option value="EUR/GBP">EUR/GBP</option>
						<option value="EUR/JPY">EUR/JPY</option>
						<option value="EUR/USD">EUR/USD</option>
						<option value="GBP/CHF">GBP/CHF</option>
						<option value="GBP/JPY">GBP/JPY</option>
						<option value="GBP/USD">GBP/USD</option>
						<option value="NZD/JPY">NZD/JPY</option>
						<option value="NZD/USD">NZD/USD</option>
						<option value="USD/CAD">USD/CAD</option>
						<option value="USD/CHF">USD/CHF</option>
						<option value="USD/CHF">USD/CHF</option>
					</select>
				</div>
				<div id="mainDeshboard" class="mainDeshboard">
					<historicalchart history-graph-id="historical1" historicalsharedata="historicalsharedata" accessor="accessor"></historicalchart>
				</div>
				<div id="mainDeshboardSecondery" class="mainDeshboardSecondery">
					<candlestickchart candlestick-id="candlestick1" candlesticksdata="candlesticksdata" accessor="accessor"></candlestickchart>
				</div>
            </div>
			
            <div class="fpslide" id="slide3">
            </div>
			
        </div>
    </div>
</body>

</html>